*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display:grid; 
    grid-template-rows: repeat(22, 40px);
    grid-template-columns: repeat(19, 40px);
    position: relative;
    margin-left:30%;
    margin-right:30%;
    margin-top: 1%;
    
}
.mur{
    background-image: url(/img/mur.gif);
}
.sol{
    background-image: url(/img/sol.gif);
}
.bonbon{
    background-image: url(/img/bonbon.gif);
}
.pacman{
    background-image: url(/img/pacman4.gif);
}
h1{
    text-align: center;
}
.fontomeRouge{
    background-image: url(/img/fantome_rouge1.gif);
}
.fontomeVert{
    background-image: url(/img/fantome_vert1.gif);
}
.fontomeOrange{
    background-image: url(/img/fantome_orange1.gif);
}
.fontomeBleu{
    background-image: url(/img/fantome_bleu1.gif);
}
.score{
    width: 700px;
    height: 20px;
    background-color: black;
    position: absolute;
    margin-left:30%;
    margin-right:30%;
    color: white;
    font-size: large;
}